<footer>
    <div class="container khung_footer mb-5">
      <div class="row row_footer mt-3">
        <div class="mr-3 ml-3"><i class="fab fa-twitter icon"></i></div>
        <div class="mr-3 ml-3"><i class="fab fa-facebook-square icon"></i></div>
        <div class="mr-3 ml-3"><i class="fab fa-instagram icon"></i></div>
        <div class="mr-3 ml-3"><i class="fab fa-pinterest-p icon"></i></div>
        <div class="row row_policy m-auto">
          <div class="mr-5">Return Policy</div>
          <div class="mr-5">Private Policy</div>
          <div class="mr-5">Private Policy</div>
        </div>
  
        <div class="row_policy mr-0">About us</div>
      </div>
    </div>
  </footer>
